.photo-grid {
  width: 95%;
  margin: 0 auto;
  padding: 0 0 92px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
}
